{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js" integrity="sha256-BSsbXsDErniq/HpuhULFor8x1CpA2sPPwQLlEoEri+0=" crossorigin="anonymous"></script> #}
{% load static %}

<head>
    {# <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet"/> #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href={% static "styles/font-awesome.css" %} rel="stylesheet"/>
    
    <link href={% static "node_modules/simplebar/dist/simplebar.css" %} rel="stylesheet"/>
    <link href={% static "node_modules/bootstrap-layout/dist/bootstrap-layout.css" %} rel="stylesheet"/>
    <link href={% static "node_modules/bootstrap-layout-scrollable/dist/bootstrap-layout-scrollable.css" %} rel="stylesheet"/>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
    
    <script src={% static "node_modules/simplebar/dist/simplebar.js" %}></script>
    <script src={% static "node_modules/bootstrap-layout/dist/bootstrap-layout.js" %}></script>
    <script src={% static "node_modules/bootstrap-layout-scrollable/dist/bootstrap-layout-scrollable.js" %}></script>

    <style>
    .centered {
        text-align: center;
    }

    .margin {
        margin: 20px;
    }

    select, input {
        margin: 10px;
    }

    </style>
</head>

<body>
<div class="layout-container" id="override">
    <div class="sidebar sidebar-left sidebar-light sidebar-size-3" id="tera-sidebar" data-scrollable data-position="left" data-size="3"> 
        <a href="/" class="sidebar-brand">Tera Armory</a>
        
        <ul class="sidebar-menu">
        <li class="sidebar-menu-item sm-active-button-bg">
            <a class="sidebar-menu-button" href="/"> Home</a>
        </li>
        <li class="sidebar-menu-item sm-active-button-bg">
            <a class="sidebar-menu-button" href="/search"> Search</a>
        </li>        
        <li class="sidebar-menu-item sm-active-button-bg">
            <a class="sidebar-menu-button" href="/compare"> Compare</a>
        </li>

        </ul>
    </div>

    <div class="layout-content" data-scrollable id="content">
        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<script> 
    BootstrapLayout.sidebar.init("#tera-sidebar")
</script>

</body>

 