{% load static %}
{% load armory %}

<style>

.item_box 	{
	color: #BBBBBB; 
	background-color:#051423;
	padding:10px 10px 10px 10px;
	font-family: verdana;
	border-style: solid;
	border-width: 2px;
	border-color: #3E7BE8
}

.line {
	border: 0;
	height: 2px;
	background-image: -webkit-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
	margin-bottom: 15px;
}	
	
.rarity_0 {
	color: #BBBBBB;
}

.rarity_1 {
	color: #018B04;
}

.rarity_2 {
	color: #01A0D7;
}

.rarity_3 {
	color: #D98F05;
}

</style>

<div id="item" class = "item_box" style="width:400px;" >
	<font size = 4 class = {{ "rarity_"|addstr:item.data.rarity }}> {{ item.data.name }} </font>

	<br><br>
	<table style="width:100%">
		<tr>
			<td valign="top">
				{% with 50 as size %}
					{% include "item/icon.html" %}
				{% endwith %}
			</td>
			<td>
				{% autoescape off %}
				<font size = 2 style = "color: #BBBBBB; line-height: 150%;"> {{ item.data.tooltip }} 
				{% endautoescape %}
				<br>
				Attack: {{ item.data.equipment.attack }}
				</font>
				<br>
				<font size = 2 style = "color: #AB181A; line-height: 150%;">
					{% if not item.data.tradeable %}
						Cannot trade.
					{% endif %}
					{% if not item.data.warehouseStorable %}
						Cannot be stored in bank.
					{% endif %}		
					{% if not item.data.guildWarehouseStorable %}
						This item can't be stored in the guild bank.
					{% endif %}		
					{% if not item.data.storeSellable %}
						No sale value.
					{% endif %}		
				</font>
			</td>
		</tr>
	</table>
			
				<!--	
ID[{{ data.id }}]<br>

 -->
	<hr class = "line">
	{% for bonus in item.data.passivity.all %}
		{{ bonus.tooltip }} <br>
	{% endfor %}
	
	<hr class = "line">
	
	{% if crystal %}
	{% else %}
		{% for bonus in item.bonuses.all %}
			{{ bonus.tooltip }} <br>
		{% endfor %}
	{% endif %}

	<hr class = "line">

	{% for item in item.crystals %}
		{% with True as dont_show_rarity %}
			{% with 22 as size %}
				{% include "item/icon.html" %}
			{% endwith %}
		{% endwith %}
		<font size = 2 style = "color:#3E7BE8; line-height: 180%;"> {{ item.data.name }} <br></font>
	{% endfor %}	

</div>



