{% load static %}

<style>
.item_box 	{
		color:white; 
		background-color:#051423;
		padding:10px 10px 10px 10px;
		font-family: verdana;
		border-style: solid;
		border-width: 3px;
		border-color: blue
	}
.rarity_color {
	{% if itemdata.rareGrade == 1 %}
		color:green;
	{% elif itemdata.rareGrade == 2%}
		color:blue;
	{% elif itemdata.rareGrade == 3%}
		color:yellow;
	{% else %}
		color:white;
	{% endif %}
	}

</style>

<div id="item" class = "item_box" style="width:400px;" >
	<font size = 4 class = "rarity_color"> {{ itemdata.name }} </font>
	<br><br>
	<table style="width:100%">
		<tr>
			<td valign="top">
				<div style="position: relative; left: 0; top: 0;">
					<img src="{% static itemdata.icon %}" align="left" style = "position: relative; top: 0; left: 0;">
					{% if itemdata.rareGrade == 1 %}
						<img src="{% static "item/icon_grade_1.png" %}" id="icon_grade" style="position: absolute; top: 0px; left: 0px;" width="16" height="16">
					{% elif itemdata.rareGrade == 2%}
						<img src="{% static "item/icon_grade_2.png" %}" id="icon_grade" style="position: absolute; top: 0px; left: 0px;" width="16" height="16">
					{% elif itemdata.rareGrade == 3%}
						<img src="{% static "item/icon_grade_3.png" %}" id="icon_grade" style="position: absolute; top: 0px; left: 0px;" width="16" height="16">
					{% endif %}
				</div>
			</td>
			<td>
				{% autoescape off %}
				<font size = 2 style = "color:white; line-height: 150%;"> {{ itemdata.tooltip }} </font>
				{% endautoescape %}
				<br><br>
				<font size = 2 style = "color:red; line-height: 150%;">
					{% if not itemdata.tradeable %}
						Cannot trade.
					{% endif %}
					{% if not itemdata.warehouseStorable %}
						Cannot be stored in bank.
					{% endif %}		
					{% if not itemdata.guildWarehouseStorable %}
						This item can't be stored in the guild bank.
					{% endif %}		
					{% if not itemdata.storeSellable %}
						No sale value.
					{% endif %}		
				</font>
			</td>
		</tr>
	</table>
			
				<!--	
ID[{{ itemdata.id }}]<br>

 -->
	</table>	

</div>



