{% load static %}

<style>

.item_box 	{
		color: #BBBBBB; 
		background-color:#051423;
		padding:10px 10px 10px 10px;
		font-family: verdana;
		border-style: solid;
		border-width: 2px;
		border-color: #3E7BE8
	}

.line
	{
		border: 0;
		height: 2px;
		background-image: -webkit-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
		background-image: -moz-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
		background-image: -o-linear-gradient(left,rgba(42,49,58,0),rgba(42,49,58,1) 9%,rgba(42,49,58,1) 91%,rgba(0,0,0,0));
		margin-bottom: 15px;
	}	
	
.rarity_color 
	{
		{% if itemdata.rarity == 1 %}
			color: #018B04;
		{% elif itemdata.rarity == 2%}
			color: #01A0D7;
		{% elif itemdata.rarity == 3%}
			color: #D98F05;
		{% else %}
			color: #BBBBBB;
		{% endif %}
	}


	
</style>

<div id="item" class = "item_box" style="width:400px;" >
	<font size = 4 class = "rarity_color"> {{ itemdata.name }} </font>

	<br><br>
	<table style="width:100%">
		<tr>
			<td valign="top">
				<div style="position: relative; left: 0; top: 0;">
					{% with itemdata.rarity|stringformat:"s" as rarity_s%}
						{% with "item/icon_grade_"|add:rarity_s|add:".png" as corner_img %}

						<img src="{% static itemdata.icon %}" align="left" style = "position: relative; top: 0; left: 0;" width="50" height="50">
						<img src="{% static corner_img %}" id="icon_grade" style="position: absolute; top: 0px; left: 0px;" width="16" height="16">
						
						{% endwith %}
					{% endwith %}
				</div>
			</td>
			<td>
				{% autoescape off %}
				<font size = 2 style = "color: #BBBBBB; line-height: 150%;"> {{ itemdata.tooltip }} 
				{% endautoescape %}
				<br>
				Attack: {{ itemdata.equipdata.attack }}
				</font>
				<br>
				<font size = 2 style = "color: #AB181A; line-height: 150%;">
					{% if not itemdata.tradeable %}
						Cannot trade.
					{% endif %}
					{% if not itemdata.warehouseStorable %}
						Cannot be stored in bank.
					{% endif %}		
					{% if not itemdata.guildWarehouseStorable %}
						This item can't be stored in the guild bank.
					{% endif %}		
					{% if not itemdata.storeSellable %}
						No sale value.
					{% endif %}		
				</font>
			</td>
		</tr>
	</table>
			
				<!--	
ID[{{ itemdata.id }}]<br>

 -->
	<hr class = "line">
	{% for bonus in itemdata.passivity.all %}
		{{ bonus.tooltip }} <br>
	{% endfor %}
	
	<hr class = "line">
	
	{% for bonus in itemdata.bonuses.all %}
		{{ bonus.tooltip }} <br>
	{% endfor %}

	<hr class = "line">



	{% for crystal in itemdata.crystals %}
		<img src="{% static crystal.icon %}" align="left">
		<font size = 2 style = "color:#3E7BE8; line-height: 180%;"> {{ crystal.name }} <br></font>
	{% endfor %}	

</div>



