{% extends "common/headers.html" %}
{# {% include "gear/navbar.html" %} #}


{% block content %}

<style>
#override .table {
    width: 100%;
}

#override .row {
    width: 100%;
    margin: 10px;
}

#override .col-xs-12{
    width: 100%;
}


</style>

<div class="card card-primary card-inverse margin">
    <div class="card-block"> 
        <div class="card-title centered"> 
            <h1><b>Comparison{% if cplayer %}: {{ cplayer.name }} {% endif %}</b></h1>
        </div>
    </div>
</div>

<div class="grid">
    <table class="table table-bordered table-striped">
    <thead>
    <tr> 
        <th> Name </th>
        <th> Server </th>
        <th> Class </th>
        <th> Gender </th>
        <th> Race </th>
    </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <tr>
                {% if cplayer %}
                    <td> <a href={% url "compare" cplayer.id player.id %}> {{ player.name }} </a></td> 
                {% else %}
                    <td> <a href={% url "compare" player.id %}> {{ player.name }} </a></td> 
                {% endif %}
                <td> {{ player.server.name }} </td> 
                <td> {{ player.klass.display_name }} </td> 
                <td> {{ player.gender.display_name }} </td> 
                <td> {{ player.race.display_name }} </td> 
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>


<script>
$(document).ready(function() {
    $('.table').DataTable({
        bInfo: false, 
        bAutoWidth: false,
    });
});

</script>

{% endblock %}