<form action="/search" mehtod="get">
    {% for field in form %}
        {{ field.label }}  {{ field }} 
    {% endfor %}
    <input type="submit" value="Search">
</form>

<table style="width:50%; text-align: center">
<tr> 
<th> Name </th>
<th> Server </th>
<th> Class </th>
<th> Gender </th>
<th> Race </th>
</tr>
    {% for player in players %}
        <tr>
            <td> <a href={% url "player" player.id %}> {{ player.name }} </a></td> 
            <td> {{ player.server.name }} </td> 
            <td> {{ player.display.klass }} </td> 
            <td> {{ player.display.gender }} </td> 
            <td> {{ player.display.race }} </td> 
        </tr>
    {% endfor %}
</table>